build*/
cmake-build-*/
out/
dist/
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.pdb
*.ilk
*.gcda
*.gcno
*.profraw
*.profdata
coverage/
Testing/
CTestTestfile.cmake
CMakeFiles/
CMakeCache.txt
compile_commands.json
*.stackdump
*.log
*.tmp
*.swp
.vscode/
.idea/
.DS_Store
